svg {
    height: 800px;
}

#main {
    display: flex;
    flex-direction: row;
}

#controls {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
}

.num-input {
    width: 60px;
    margin-top: 5px;
}

label, table, th, td {
    font-family: "Arial"
}

.col-item {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

#col-0 {
    width: 79px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
  }