svg {
    height: 800px;
}

#main {
    display: flex;
    flex-direction: row;
}

#controls {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
}

.num-input {
    width: 60px;
    margin-top: 5px;
}

label {
    font-family: "Arial"
}

.col-item {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}