svg {
    height: 800px;
}

#main {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

#controls {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
}

.num-input {
    width: 60px;
    margin-top: 5px;
}

label, table, th, td, p, h2, h3 {
    font-family: "Arial"
}

.col-item {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

#col-0 {
    width: 79px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
  }

#algorithm-select, #other-options, #mode-select {
    margin-top: 5px;
}

#outer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

body, html, #root {
    height: 100%;
    margin: 0px;
}

#status-info {
    max-width: 250px;
}

text {
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
}

.emoji {
    height: 30px;
    width: 30px;
    position: absolute;
}

#data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 700px;
}

#graph {
    margin-top: 15px;
}

#bottom-text {
    padding: 5px;
}

.image-box > img {
    height: 150px;
    width: 150px;
}

.image-box {
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-box > label {
    margin-top: 5px;
}